root = true

# All files
[*]
indent_style = space

# C# files
[*.cs]

indent_size = 4
tab_width = 4
max_line_length = 120
end_of_line = crlf
insert_final_newline = true

csharp_prefer_braces = true:error

[*.js]
indent_size = 2
tab_width = 2